<ion-header>
    <ion-toolbar color="my-primary">
        <ion-title color="my-secondary">pubg</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bg-img">
        <div class="img-header">
            <img src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" />
        </div>

        <div class="tags">
            <p class="green">97% positif</p>
            <p>2017</p>
            <p>TV - 14</p>
            <p>2 Saisons</p>
        </div>

        <ion-button expand="block" color="my-secondary">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            Request phone number
        </ion-button>

        <ion-segment color="red">
            <ion-segment-button value="liste" checked>
                <ion-icon color="my-secondary" name="location-outline"></ion-icon>
                <ion-label color="my-secondary">Boumerdes</ion-label>
            </ion-segment-button>
            <ion-segment-button value="rate">
                <ion-icon color="my-secondary" name="logo-xbox"></ion-icon>
                <ion-label color="my-secondary">XBOX</ion-label>
            </ion-segment-button>
            <ion-segment-button value="rate">
                <ion-icon color="my-secondary" name="game-controller-sharp"></ion-icon>
                <ion-label color="my-secondary">DVD</ion-label>
            </ion-segment-button>
            <ion-segment-button value="share">
                <ion-icon color="my-secondary" name="share-social-outline"></ion-icon>
                <ion-label color="my-secondary">Share</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-card class="adv-map">
            <div style="position: relative">
                <img src="../../assets/thenia.PNG" />
                <ion-fab right top>
                    <button ion-fab class="fab-map">
            <ion-icon name="pin"></ion-icon>
          </button>
                </ion-fab>
            </div>

            <ion-item actions color="my-primary">
                <span ion-text item-start class="item-bold">18 min</span>
                <span ion-text item-start>(32 km)</span>
                <button slot="end" ion-button clear item-end icon-start>
                <ion-icon name="navigate"></ion-icon>
                    Start
                </button>
            </ion-item>
        </ion-card>
    </div>
</ion-content>