<ion-header [translucent]="true">
    <ion-toolbar color="my-primary">
        <ion-buttons slot="start">
            <ion-button color="my-secondary">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="my-secondary" (click)="addNewMyGame()">
                <ion-button expand="block" class="ion-margin-top" color="my-secondary">Create</ion-button>

                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="my-primary">
        <ion-title color="my-secondary">My games</ion-title>
    </ion-toolbar>

    <ion-toolbar color="my-primary">
        <ion-searchbar placeholder="enter game's name"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-list-header color="my-primary">
            <ion-text color="my-secondary"> Recent Games </ion-text>
        </ion-list-header>

        <ion-item color="my-primary-grade1">
            <ion-avatar slot="start">
                <img (click)="openMovie()" src="https://www.journaldugeek.com/content/uploads/2020/04/call-of-duty-mobile-640x410.jpg" />
            </ion-avatar>
            <ion-label color="my-secondary">
                <h1>test</h1>
                <ion-icon name="location-outline"></ion-icon>
                <span>test</span>
                <div>
                    <ion-icon name="logo-playstation"></ion-icon>
                    <ion-icon name="logo-xbox"></ion-icon>
                    <ion-icon name="laptop-outline"></ion-icon>
                </div>
            </ion-label>
        </ion-item>

        <ion-list lines="none">
            <ion-item-sliding *ngFor="let game of games">
                <ion-item color="my-primary-grade1">
                    <ion-avatar slot="start">
                        <img src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" />
                    </ion-avatar>
                    <ion-label color="my-secondary">
                        <h1>{{ game.name }}</h1>
                        <ion-icon name="location-outline"></ion-icon>
                        <span>{{ game.console }}</span>
                        <span>{{ game.description }}</span>
                        <div>
                            <ion-icon name="logo-playstation"></ion-icon>
                            <ion-icon name="logo-xbox"></ion-icon>
                            <ion-icon name="laptop-outline"></ion-icon>
                        </div>
                    </ion-label>


                    <ion-buttons slot="end">
                        <ion-button color="my-secondary" (click)="deleteMyGame(game.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button color="my-secondary" (click)="editMyGame(game.id)">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>

                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-list>
</ion-content>