<ion-header [translucent]="true">
    <ion-toolbar color="my-primary">
        <ion-buttons slot="end">
            <ion-button color="my-secondary" (click)="addNewMyGame()">
                <ion-button expand="block" class="ion-margin-top" color="my-secondary">Create</ion-button>

                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="my-primary">
        <ion-searchbar color="my-secondary" placeholder="enter game's name"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-list-header color="my-primary">
            <ion-text color="my-secondary"> My Games </ion-text>
        </ion-list-header>

        <ion-list lines="none">
            <ion-list *ngFor="let game of games">
                <ion-item lines="fullscreen" color="my-primary-grade1">
                    <ion-avatar slot="start">
                        <img src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" />
                    </ion-avatar>
                    <ion-label color="my-secondary">
                        <h1><b>{{ game.name }}</b></h1>

                        <div>
                            <span *ngIf="game.console === 'xbox' ">
                                <ion-icon name="logo-xbox"></ion-icon>
                            </span>

                            <span *ngIf="game.console === 'ps4' ">
                                <ion-icon name="logo-playstation"></ion-icon>
                            </span>

                            <span *ngIf="game.console === 'pc' ">
                                <ion-icon name="laptop-outline"></ion-icon>
                            </span>

                            <span>{{ game.console }}</span>
                        </div>

                        <span>{{ game.description }}</span>
                    </ion-label>

                    <ion-buttons slot="end">
                        <ion-button color="my-secondary" (click)="deleteMyGame(game.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button color="my-secondary" (click)="editMyGame(game.id)">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-item>
            </ion-list>
        </ion-list>
    </ion-list>
</ion-content>