<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
        <ion-title>Wish games</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-icon name="filter-outline"></ion-icon>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://www.journaldugeek.com/content/uploads/2020/04/call-of-duty-mobile-640x410.jpg" />
            </ion-avatar>
            <ion-label>
                <h1>call of duty</h1>
                <ion-icon name="location-outline"></ion-icon>
                <span>boumerdes</span>
                <div>
                    <ion-icon name="logo-playstation"></ion-icon>
                    <ion-icon name="logo-xbox"></ion-icon>
                    <ion-icon name="laptop-outline"></ion-icon>
                </div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" />
            </ion-avatar>
            <ion-label>
                <h1>pubg</h1>
                <ion-icon name="location-outline"></ion-icon>
                <span>alger</span>
                <div>
                    <ion-icon name="logo-playstation"></ion-icon>
                    <ion-icon name="logo-xbox"></ion-icon>
                    <ion-icon name="laptop-outline"></ion-icon>
                </div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://www.legal-esport.com/imactus/csgo.jpg" />
            </ion-avatar>
            <ion-label>
                <h1>cs go</h1>
                <ion-icon name="location-outline"></ion-icon>
                <span>tizi-ouzou</span>
                <div>
                    <ion-icon name="logo-playstation"></ion-icon>
                    <ion-icon name="logo-xbox"></ion-icon>
                    <ion-icon name="laptop-outline"></ion-icon>
                </div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://cdn2.unrealengine.com/14br-consoles-1920x1080-wlogo-1920x1080-432974386.jpg" />
            </ion-avatar>
            <ion-label>
                <h1>fortnite</h1>
                <ion-icon name="location-outline"></ion-icon>
                <span>alger</span>
                <div>
                    <ion-icon name="logo-playstation"></ion-icon>
                    <ion-icon name="logo-xbox"></ion-icon>
                    <ion-icon name="laptop-outline"></ion-icon>
                </div>
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>