<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="my-primary">
    <img src="https://i.pinimg.com/originals/a6/14/f4/a614f46898ef8c83420ae70e02258f0c.png" class="logo" />

    <div class="title">
        <h2>
            <ion-text color="light">Welcome</ion-text>
        </h2>
        <p>
            <ion-text color="my-secondary">Enjoy the App</ion-text>
        </p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="register()" color="my-secondary">REGISTER</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="my-secondary">LOGIN</ion-button>
    </div>
</ion-content>