<ion-header> </ion-header>

<ion-content class="ion-padding">
    <div class="title">
        <h4>
            <ion-text color="my-secondary">Edit Game</ion-text>
        </h4>
        <p>Edit Informations About The Game</p>
        <!-- <p>{{id}}</p>
        <p>{{game}}</p> -->
    </div>



    <ion-input [(ngModel)]="game.name" placeholder="game name" class="primary-input"></ion-input>
    <ion-input [(ngModel)]="game.console" placeholder="console" class="primary-input"></ion-input>
    <ion-input [(ngModel)]="game.description" placeholder="description" class="primary-input"></ion-input>

    <div class="ion-margin-top">
        <ion-button expand="block" color="my-secondary" (click)="editGame(game)">Save</ion-button>
    </div>

    <div class="ion-margin-top ion-text-center">
        <a (click)="dismiss()">
            <ion-text color="my-secondary">Cancel</ion-text>
        </a>
    </div>
</ion-content>