<ion-content>
    <div class="header">
        <h2>Mohamed Fouaz Ferhi</h2>

        <div class="space-between">
            <div class="followings">
                <ion-badge color="my-secondary" mode="ios">4</ion-badge>
                <p>My games</p>
            </div>

            <div class="followings">
                <ion-badge color="my-secondary" mode="ios">3</ion-badge>
                <p>Wish games</p>
            </div>
        </div>

        <div class="flex">
            <div class="border-secondary">
                <div class="border-white">
                    <div class="img-box">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Steve_Jobs_Headshot_2010-CROP.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ion-card style="margin-top: 30%">
            <ion-item lines="none" color="my-secondary">
                <ion-label>
                    <h2><b>Informational Info</b></h2>
                </ion-label>
            </ion-item>
        </ion-card>
        <!-- <ion-card>
            <ion-item lines="none" color="my-secondary">
                <ion-label>
                    <h2><b>uid : {{this.profile.uid}}</b></h2>
                </ion-label>
            </ion-item>
        </ion-card> -->
        <ion-card>
            <ion-item lines="none" color="my-secondary">
                <ion-label>
                    <h2><b>email : {{this.profile.email}}</b></h2>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card>
            <!-- <ion-item lines="none" color="my-secondary">
                <ion-label>
                    <h2><b>email verified : {{this.profile.emailVerified}}</b></h2>
                </ion-label>
            </ion-item> -->
        </ion-card>
        <ion-card>
            <!-- <ion-item lines="none">
                <ion-label>
                    <ion-fab-button>
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </ion-label>
            </ion-item> -->
            <ion-button (click)="addPhoto()" color="tertiary" expand="block">
                <ion-icon name="image" slot="start"></ion-icon>
                Ouvrir la bibliothèque
            </ion-button>
        </ion-card>

        <div class="flex">
            <div class="img-box">
                <img [src]="image">
            </div>
        </div>

        <div class="bg-img">
            <ion-card class="adv-map">
                <div style="position: relative">
                    <img src="../../assets/thenia.PNG" />
                    <ion-fab right top>
                        <button ion-fab class="fab-map">
                            <ion-icon name="pin"></ion-icon>
                        </button>
                    </ion-fab>
                </div>

                <ion-item actions color="my-secondary">
                    <span ion-text item-start class="item-bold">Thenia</span>
                    <span ion-text item-start color="subtle">(boumerdes)</span>
                    <button slot="end" ion-button color="primary" clear item-end icon-start>
                    <ion-icon name="navigate"></ion-icon>
                        Position
                    </button>
                </ion-item>
            </ion-card>
        </div>
    </div>
</ion-content>