<ion-content>
    <div class="header">
        <h2>Mohamed Fouaz Ferhi</h2>

        <div class="space-between">
            <div class="followings">
                <ion-badge color="my-secondary" mode="ios">4</ion-badge>
                <p>My games</p>
            </div>

            <div class="followings">
                <ion-badge color="my-secondary" mode="ios">3</ion-badge>
                <p>Wish games</p>
            </div>
        </div>

        <div class="flex">
            <div class="border-secondary">
                <div class="border-white">
                    <div class="img-box">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Steve_Jobs_Headshot_2010-CROP.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ion-card>
        <ion-item lines="none">
            <ion-label>
                <h2><b>Informational Info</b></h2>
            </ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item lines="none">
            <ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h1>mohamed</h1>
                        </ion-col>
                        <ion-col>
                            <h1>fouaz</h1>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
    </ion-card>

    <div class="bg-img">

        <ion-card class="adv-map">
            <div style="position: relative">
                <img src="../../assets/thenia.PNG" />
                <ion-fab right top>
                    <button ion-fab class="fab-map">
            <ion-icon name="pin"></ion-icon>
          </button>
                </ion-fab>
            </div>

            <ion-item actions>
                <span ion-text item-start color="secondary" class="item-bold">Thenia</span
        >
        <span ion-text item-start color="subtle">(boumerdes)</span>
                <button slot="end" ion-button color="primary" clear item-end icon-start>
          <ion-icon name="navigate"></ion-icon>
          Position
        </button>
            </ion-item>
        </ion-card>
    </div>
</ion-content>