<ion-header>

</ion-header>

<ion-content class="ion-padding">
    <div class="title">
        <h4>
            <ion-text color="my-secondary">Signup</ion-text>
        </h4>
        <p>Register to get started</p>
    </div>

    <ion-input [(ngModel)]="user.email" placeholder="User Name" class="primary-input"></ion-input>
    <ion-input [(ngModel)]="user.password" placeholder="Password" type="password" class="primary-input"></ion-input>

    <ion-list>
        <ion-item>
            <ion-label>agree to our Terms & Conditions</ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
        </ion-item>
    </ion-list>

    <div class="ion-margin-top">
        <ion-button expand="block" color="my-secondary" (click)="register(user)">REGISTER</ion-button>
    </div>

    <div class="ion-margin-top ion-text-center">
        <a (click)="dismiss()">
            <ion-text color="my-secondary">Close</ion-text>
        </a>
    </div>
</ion-content>